.descriptionQualityList {
  margin: 0 0 3rem;
  padding-inline-start: 1.75rem;
}
.descriptionQualityListItem,
.descriptionText {
  color: #5a5a66;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.16px;
}
.descriptionText {
  max-width: 48.875rem;
  margin: 0;
}
.descriptionTitle,
.descriptionGeneralTitle {
  color: #3f3f46;
  font-family: 'Proxima Nova';
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.32px;
  margin: 0 0 1.5rem;
}
@media screen and (max-width: 64rem) {
  .descriptionQualityList {
    margin-bottom: 2rem;
  }
  .descriptionText {
    max-width: 100%;
    margin-bottom: 2rem;
  }
  .descriptionQualityListItem,
  .descriptionText {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.14px;
  }
  .descriptionTitle,
  .descriptionGeneralTitle {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.24px;
    margin-bottom: 1rem;
  }
}
