.trigger--pre-owned-faq-item {
  position: relative;
  border: 2px solid;
  background: var(--neutral-white, #FFF);
  padding: 24px 32px;
  border-radius: var(--radius-rounded-sm, 2px);

  &--hidden {
    border-color: #000;
    &::after {
      content: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 5V19" stroke="%23FF5A00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M5 12H19" stroke="%23FF5A00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    }
  }

  &--visible {
    border-color: #FF5A00;
    border-bottom: none;
    padding-bottom: 0;
    &::after {
      content: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 12H19" stroke="%23FF5A00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    }
  }

  &::after {
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.content--pre-owned-faq-item {

  &--visible {
    border-radius: var(--radius-rounded-sm, 2px);
    border: 2px solid var(--text-brand-primary-base, #FF5A00);
    border-top: 0;
    margin-top: -13px;
    padding: 24px 32px;
    background: var(--neutral-white, #FFF);
  }
}