.wrapper--filters-mobile {
  height: 0 !important;

  .container {
    background: #fff;
    padding: 8px;
    position: fixed;

    :global(.vtex-flex-layout-0-x-flexRowContent--filters-mobile) {
      margin: 0;
    }
  }

  @media screen and (max-width: 768px) {
    :global(.vtex-search-result-3-x-orderByOptionsContainer) {
      top: -290px;
    }
  }
}
