.flexRow--pre-owned-main-banner {
  background:#000;
  padding: 28px 0;

  .flexRowContent--pre-owned-main-banner {
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    padding-left: 51px;
  }

}

.flexRow--pre-owned-benefits {
  background: #F4F4F5;
  padding: 32px;

  .flexRowContent--pre-owned-benefits {
    max-width: 1440px;
    gap: 16px;
    margin: 0 auto;
    width: 100%;
  }
}

.container--pre-owned-faq-title,
.container--pre-owned-faq-subtitle {
  align-items: center;
}

.flexRow--pre-owned-faq {
  padding: 32px;
  width: 100%;
  margin-top: 32px;
  background: #FFF6F2;
}

.flexColChild--pre-owned-faq-content {
  width: 100%;
}

.flexCol--pre-owned-faq-content {
  max-width: 648px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

.flexColChild--pre-owned-questions {
  display: flex;
  flex-direction: column;
  gap: 12px;
}