:global(.vtex-info-card-list-0-x-info-card-v1--info-card-v1) {
    height: 100%;
  
   .infoCardContainer {
     padding: 20px;
     align-items: flex-start;
     border: none;
     height: 100%;
     

     .infoCardTextContainer {
       margin: 0;
       width: fit-content;
        position: relative;
       z-index: 1;
     }

     .infoCardCallActionContainer {
       margin: 0 {
        top: 8px;
       };

       border-radius: var(--radius-rounded-sm, 2px);
       background: var(--Gray-Scale-White, #FFF);
       padding: 10px 16px;
       text-decoration: none;
       width: 168px;

       .infoCardCallActionText {
         margin: 0;
         color: var(--text-neutral-bold, #18181B);
         font-family: "Proxima Nova";
         font-size: 14px;
         font-style: normal;
         font-weight: 500;
         line-height: 20px;
         letter-spacing: -0.14px;
         text-decoration: none;
         text-align: center;
       }
     }

     .paragraph {
       color: #FFF;
       font-family: "Monument Extended";
       font-size: 40px;
       font-style: normal;
       font-weight: 700;
       line-height: 48px;
       letter-spacing: -0.4px;
       text-transform: uppercase;
       margin: 0;

       .strong {
         color: #FF5A00;
       }
     }

     @media screen and (max-width: 768px) {
       .paragraph {
         font-size: 32px;
         line-height: 40px;
         letter-spacing: -0.32px;
       }
     }
   }
}

.list--info-card-v1-list {
  list-style: none;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  .item {
    position: relative;
    &::after {
      content: '';
      background: url("/arquivos/bg-effect.png") transparent 50% / cover no-repeat;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      top: 0;
      opacity: 0.3;
    }
    width: 49.12%;
    height: 100%;
    height: 498px;

    &:nth-child(-n+3) {
      width: 32.04%;
      height: 298px;

    }

    
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding: 0;
    margin: 0;

    .item {
      width: 100%!important;
      height: 328px!important;
      
    }
  }
  

}
