.flexRow--centered-wrapper {
  max-width: 1440px;
  padding: 48px 32px;
  width: 100%;
  margin: 0 auto;

  &.flexRow--black-friday-countdown-offer {
    padding-bottom: 0;
  }
}

.flexRow--shelf-container-black-friday {
  .flexCol--shelf-container {
    padding: 0;
  }
}

.flexRow--black-friday-main-banner {
  padding-top: 0;
  padding-bottom: 0;
}

.flexRowContent--black-friday-main-banner {
  justify-content: space-between;
  padding: 27px 0;
}

.flexRowContent--black-friday-discount-banners {
  gap: 24px;
  flex-wrap: wrap;
}

.flexRowContent--category-cards-section {
  flex-wrap: wrap;
  gap: 16px;
}

.flexRowContent--black-friday-middle-banner-text {
  gap: 87px;
}

.flexRowContent--black-friday-countdown-offer {
  display: flex;
  justify-content: center;
}

