.flexRowContent--shelf-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexRow--product-card-stars {
  margin-bottom: 12px;
}

.flexColChild--price-container:first-child {
  min-height: 24px;
}

.flexCol--shelf-container {
  padding: 48px 32px {
    right: 16px;
    bottom: 72px;
  }

  @media screen and (max-width: 768px) {
    padding: 16px {
      bottom: 54px;
      right: 8px;
    }
  }
}

.flexRow--product-card-actions,
.flexRow--product-card-price,
.flexRow--product-card-stars {
  :global(.vtex-store-components-3-x-container) {
    padding: 0;
  }
}

.flexRow--shelf-container {
  background: #f4f4f5;
}

.flexRow--shelf-title-container {
  margin-bottom: 32px;

  @media screen and (max-width: 768px) {
    margin-bottom: 24px;
    margin-right: 8px;
  }
}

.flexRowContent--product-card-actions {
  align-items: center;
  margin-top: 12px;
  gap: 12px;

  @media screen and (max-width: 768px) {
    display: flex;
    gap: 8px;
  }
}
.flexColChild--price-container-without-pix {
  :global(.vtex-product-price-1-x-sellingPrice--summary) {
    width: 100%;
    display: block;
    text-align: left;
    @media screen and (max-width: 768px) {
      height: 2.5rem;
      margin-top: 1.5rem;
    }
    :global(.vtex-product-price-1-x-sellingPriceValue--summary) {
      :global(.vtex-product-price-1-x-currencyContainer--summary) {
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        color: #18181b;
        letter-spacing: -0.2px;
        text-decoration: none;
      }
    }
  }
}
