.link--section-title {
  text-decoration: none;
  margin-right: 17px;

  @media screen and (max-width: 768px) {
    margin-right: 8px;
  }
}
.label--section-title {
  color:  #000;
  text-align: right;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.16px;
}

.link--pre-owned-product-summary-link {
  border-radius: var(--radius-rounded-sm, 2px);
  background: var(--bg-brand-secondary-bold-base, #2B2B3A);
  padding: 10px 16px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  width: 100%;
  &:hover {
    background: var(--bg-brand-secondary-bold-hover, #424250);
  }

  .label {
    color: var(--text-inverse-bold, #FFF);
    text-align: center;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.14px;
  }
}