:global(.vtex-search-result-3-x-galleryItem--list) {
  @media screen and (max-width: 768px) {
    .newSpotPriceValue--product-summary-price {
      width: 100%;
      text-align: left;
    }

    .spotPriceSavingsPercentage--product-summary-price {
      position: relative;
      margin-top: -4px;
      margin-left: 4px;
    }
  }
}

.spotPriceSavings--product-summary-price {
  color: #3f3f46;
  font-family: 'Proxima Nova';
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.12px;
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 2px;

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    gap: 0;
  }
}

.sellingPrice--summary .sellingPriceValue--summary .currencyContainer--summary {
  overflow: hidden;
  color: var(--text-neutral-subtlest, #71717a);
  text-overflow: ellipsis;
  font-family: 'Proxima Nova';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.14px;
  text-decoration: line-through;
}

.newSpotPriceValue--product-summary-price,
.currencyContainer--summary {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  color: #18181b;
  letter-spacing: -0.2px;

  @media screen and (max-width: 768px) {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.16px;
  }
}

.listPrice--product-card-list-price {
  overflow: hidden;
  color: #71717a;
  text-overflow: ellipsis;
  font-family: 'Proxima Nova';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.14px;
  text-decoration: line-through;
  width: 100%;
  display: flex;
}

.spotPriceSavingsPercentage--product-summary-price {
  color: #ff5a00;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 0;
  line-height: 16px;
  padding: 2px 8px;
  border-radius: 2px;
  border: 2px solid #ff5a00;
  max-width: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  &::before {
    content: '-10%';
    font-size: 12px;
  }

  @media screen and (max-width: 768px) {
    position: absolute;
    right: 0;
    margin-top: 21px;
  }
}

.installments--product-card-installments {
  color: #18181b;
  font-family: 'Proxima Nova';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.12px;

  &::before,
  &::after {
    display: none;
  }

  @media screen and (max-width: 768px) {
    display: block;
    text-align: left;
    height: 50px;
  }
}

.installmentsTotalValue--product-card-installments,
.installmentsNumber--product-card-installments,
.installmentValue--product-card-installments {
  font-weight: 600;
}

.installmentsNumber--product-card-installments {
  &::after {
    content: 'x' !important;
  }
}
