.container--desconto-pix-boleto {
  float: right;
  margin-top: 4px;
}

.paragraph--desconto-pix-boleto {
  color: var(--text-neutral-subtlest, #71717A);
  text-align: right;
  font-family: "Proxima Nova";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  /* 133.333% */
  letter-spacing: -0.12px;

  margin: 0;
  margin-top: 4px;
}

.paragraph--titleEmptyState {
  color: var(--text-neutral-bold, #18181B);
  text-align: center;
  font-family: "Proxima Nova";
  font-size: 24px;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.24px;
  margin-top: 32px;
  margin-bottom: 16px;
 
}

.paragraph--subtitleEmptyState {
  color: var(--text-neutral-subtle, #3F3F46);
  text-align: center;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.14px;
  margin: 0;
}

.paragraph--pre-owned-tab {
  margin: 0;
  color: var(--text-neutral-bold, #18181B);
  font-family: "Proxima Nova";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.16px;
}

.paragraph--tooltip {
  font-size: 0;

  &::before {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="5" height="10" viewBox="0 0 5 10" fill="none"><path d="M1.6172 6.06428C1.70053 5.69776 1.61198 5.52439 1.28366 5.41165C1.20596 5.38492 1.12492 5.36965 1.04576 5.34741C0.840193 5.28981 0.793572 5.13799 0.929888 4.95876C0.968165 4.90834 1.01656 4.86409 1.06714 4.82805C1.66466 4.40268 2.3117 4.13295 3.03553 4.10748C3.59935 4.08996 3.96856 4.29973 4.07704 4.75362C4.12575 4.95743 4.12262 5.19503 4.07934 5.40178C3.8965 6.27496 3.68824 7.14196 3.49247 8.01213C3.39798 8.43178 3.49967 8.60762 3.89017 8.72002C3.92959 8.73147 3.97266 8.73518 4.00813 8.75494C4.0925 8.80199 4.23633 8.85039 4.24113 8.90912C4.24895 9.00592 4.19148 9.14909 4.11722 9.20691C3.41625 9.75163 2.63664 10.062 1.76315 9.9896C1.17303 9.94053 0.861498 9.39928 1.00909 8.73733C1.2082 7.84517 1.4148 6.95537 1.61724 6.06434L1.6172 6.06428ZM4.85242 1.44209C4.85356 0.639074 4.2769 0.00532177 3.54036 3.23592e-05C2.7914 -0.00524527 2.18972 0.63571 2.19618 1.43266C2.20244 2.2269 2.78889 2.85045 3.53211 2.85315C4.25677 2.85573 4.85135 2.22026 4.85239 1.44209H4.85242Z" fill="%2318181B"/></svg>');
    display: block;
    cursor: pointer;
  }
}

.paragraph--tooltip-content {
  color: var(--Primary-900---Oficial, #130C0E);
  font-family: "Proxima Nova";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.12px;
  margin: 0;
}