.countdown-wrapper {

}

.time-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}


.time-container >div {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.time-container div:nth-of-type(2) {
  width: var(--spacing-05, 2px);
  height: 50px;
  background: #FFF;
  display: block;
}

.time-container div:nth-of-type(2)::after {
  display: none;
}

.time-container .separator::after {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="37" viewBox="0 0 8 37" fill="none"><path d="M4.01688 8.71548C3.27426 8.71548 2.5654 8.53918 1.95781 8.18658C1.35021 7.83399 0.843882 7.34035 0.506329 6.70568C0.168776 6.07101 0 5.40108 0 4.62537C0 3.49706 0.371308 2.50979 1.14768 1.69882C1.92405 0.923115 2.8692 0.5 4.01688 0.5C5.09705 0.5 6.04219 0.923115 6.81857 1.69882C7.59494 2.50979 8 3.49706 8 4.62537C8 5.75367 7.59494 6.74094 6.81857 7.51665C6.04219 8.32762 5.09705 8.71548 4.01688 8.71548ZM4.01688 36.5C2.8692 36.5 1.92405 36.1121 1.14768 35.3012C0.371308 34.5255 0 33.5382 0 32.4099C0 31.2816 0.371308 30.2943 1.14768 29.4833C1.92405 28.7076 2.8692 28.2845 4.01688 28.2845C5.09705 28.2845 6.04219 28.7076 6.81857 29.4833C7.59494 30.2943 8 31.2816 8 32.4099C8 33.5382 7.59494 34.5255 6.81857 35.3012C6.04219 36.1121 5.09705 36.5 4.01688 36.5Z" fill="%23FDFDFD"/></svg>');


}


.time-container .number {
  color: var(--greyscale-700, #FDFDFD);
  font-family: "Monument Extended";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; 
  padding: 8px;
}

.time-container .label {
  color: #FFF;
  text-align: center;
  font-family: "Monument Extended";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}


@media screen and (max-width: 768px) {

  .time-container  {
    gap: 8px;
    padding: 0 16px;
  }

  .time-container .number {
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    padding: 0;
  }

  .time-container .label {
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
  }

  .time-container .separator::after {
    content: ':';
    color: #FF5A00;
    text-align: center;
    font-family: Pluto;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 34.345px; /* 107.327% */
  }

  .time-container div:nth-of-type(2) {
    width: 0.6px;
    height: 27px;
    background: #FF5A00;
    display: block;
  }
}
