.flexRow--product-details,
.flexRow--product-breadcrumb {
  max-width: 1440px;
  width: 100%;
  padding: 0 32px;
  margin: 0 auto;

  :global(.vtex-store-components-3-x-container) {
    padding: 0;
  }

  @media screen and (max-width: 1024px) {
    padding: 0 16px;
  }
}

.flexRow--product-breadcrumb {

  
}

.flexRowContent--list-price-wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}

.flexRowContent--product-details {
  justify-content: space-between;
}

.flexRow--product-details {
  padding-top: 16px;
}

.flexRow--product-image {
  max-width: 864px;
  width: 100%;
}

.flexCol--product-info {
  max-width: 448px;
  width: 100%;
}

.flexCol--product-price {
  margin: {
    top: 24px;
    bottom: 20px;
  }
}



.flexRowContent--product-buy-button,
:global(.vtex-modal-layout-0-x-paper--buy-button-modal) {
  margin-top: 20px;
  gap: 20px;

  :global(.vtex-button) {
    border-radius: var(--radius-rounded-sm, 2px);
    background: var(--bg-brand-secondary-bold-base, #2B2B3A);
    border: none;
    transition: all .2s ease-in-out;
    max-width: 308px;
    width: 100%;

    &:hover {
      background: var(--bg-brand-secondary-bold-hover, #424250);
    }

    :global(.vtex-button__label) {
      padding: 10px 16px!important;
      
    }
  }
}

.flexRowContent--product-buy-button {
  display: flex;

  .stretchChildrenWidth {
    &:first-child {
      max-width: 120px;
    }

    &:last-child {
      width: 100%!important;
    }


  }
  
}

.flexRowContent--product-image {
  display: flex;
  flex-direction: column;
}