.flexRow--product-details,
.flexRow--product-breadcrumb {
  max-width: 1440px;
  width: 100%;
  padding: 0 32px;
  margin: 0 auto;

  :global(.vtex-store-components-3-x-container) {
    padding: 0;
  }
}

.flexRow--product-breadcrumb {

  
}

.flexRow--product-details {
  padding-top: 16px;
}