.flexRow--product-details,
.flexRow--product-breadcrumb {
  max-width: 1440px;
  width: 100%;
  padding: 0 32px;
  margin: 0 auto;

  :global(.vtex-store-components-3-x-container) {
    padding: 0;
  }
}

.flexRow--product-breadcrumb {

  
}

.flexRowContent--product-details {
  justify-content: space-between;
}

.flexRow--product-details {
  padding-top: 16px;
}

.flexRow--product-image {
  max-width: 864px;
  width: 100%;
}

.flexCol--product-info {
  max-width: 448px;
  width: 100%;
}