.buttonText--product-page-add-to-cart {
  color: var(--text-inverse-bold, #FFF);
  font-family: "Proxima Nova";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.14px;
  text-transform: math-auto;
}