.collapsibleContentContainer {
  max-width: 720px;
  width: 100%;
}
.collapsible-content--collection-seo.collapsibleContentContainer {
  max-width: 90rem;
  margin: 0 auto 3rem;
  padding: 0 2rem;
}
.collapsible-content--search-seo.collapsibleContentContainer {
  max-width: 90rem;
  margin: 0 auto 3rem;
  padding: 0;
  width: 100%;
}

.collapsibleContentContainer p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-height: fit-content;
}

.collapsibleContentContainerOpen p {
  -webkit-line-clamp: 4;
}

.collapsibleContentButton {
  border-radius: 2px;
  border: 1.25px solid #d4d4d8;
  background: #fff;
  padding: 12px 20px;
  margin-top: 24px;
  color: #3f3f46;
  font-family: 'Proxima Nova';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

@media screen and (min-width: 64rem) {
  .collapsibleContentButton:hover {
    border-color: #ee8146;
    background: #fdf2ec;
    color: #ff5a00;
  }
}
@media screen and (max-width: 64rem) {
  .collapsible-content--collection-seo.collapsibleContentContainer {
    padding: 0 1rem;
    margin-bottom: 1rem;
  }
}
